@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  color-scheme: dark;
}

/* Base styles */
body {
  font-family: "Nunito", system-ui, sans-serif;
}

a:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}